body {
  background-color: white;
  margin: auto;
}

header {
  background-color: rgb(15, 8, 50);
  font-family: "Roboto", sans-serif;
}

.arriereplan {
  background-color: rgb(15, 8, 50);
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
}

.Titre {
  color: white;

  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
}

nav {
  margin: auto;
}

nav .main_pages {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
}

nav .main_pages a {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200%;
  height: 100%;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background: #5a5766;
}

.Sayhi {
  color: orange;
  padding-top: 25px;
  text-decoration: underline;
}

#Fusée {
  height: auto;
  width: 800px;
  padding-left: 220px;
}

.boutongetstarted {
  display: flex;
  font-family: "Roboto", sans-serif;
}

.TitreGetStarted {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 50px;
  color: white;
  background-color: orange;
}

.TitreGetStartedInvisible {
  color: rgb(15, 8, 50);
}

.GetStarted {
  background-image: url(images/spacestar.png);
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Roboto", sans-serif;
}

.lorem6 {
  display: flex;
  font-family: "Nunito Sans", sans-serif;
}

.lorem378 {
  display: flex;
  flex-direction: column;
}

.bloc0 {
  width: 950px;
}
.bloc1 {
  padding-right: 60px;
}
.duo {
  color: white;
  display: flex;
}

.vuOrange {
  width: 15px;
  height: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Nunito Sans", sans-serif;
}

.vuOrange2 {
  width: 15px;
  height: 10px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Nunito Sans", sans-serif;
}

.textbloc1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pblanc {
  color: white;
  font-family: "Nunito", sans-serif;
}

.pblanc2 {
  color: white;
  font-family: "N5unito", sans-serif;
}

.pblanc3 {
  color: white;
  font-family: "N5unito", sans-serif;
  text-align: center;
  font-size: 80%;
}

.psouligne {
  text-decoration: underline;
}

.pgris {
  color: grey;
  font-family: "Nunito", sans-serif;
}

.pgris2 {
  color: grey;
  font-family: "N5unito", sans-serif;
  font-size: 95%;
}

.pgris3 {
  color: grey;
  font-family: "N5unito", sans-serif;
  width: 770px;
  text-align: center;
  padding-left: 550px;
}

.pgris4 {
  color: grey;
  font-family: "N5unito", sans-serif;
  padding-left: 20px;
  padding-bottom: 13px;
  font-size: 80%;
}

.Simplify {
  color: rgb(28, 42, 167);
  padding-top: 60px;
  font-family: "Pacifico", cursive;
  font-size: 250%;
}

.Blendify {
  color: orange;
  font-family: "Pacifico", cursive;
  font-size: 250%;
  padding-top: 0px;
}

.Rockify {
  color: rgb(28, 42, 167);
  font-family: "Pacifico", cursive;
  font-size: 250%;
}

.puissancedollar1 {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 200%;
}

.puissancedollar2 {
  color: orange;
  font-family: "Nunito Sans", sans-serif;
  font-size: 200%;
}

.Prix1 {
  color: black;
  font-size: 300%;
}

.Prix2 {
  color: orange;
  font-size: 300%;
}

.pOrange {
  color: orange;
  font-family: "Nunito Sans", sans-serif;
}

.pOrange2 {
  color: orange;
  font-family: "Rubik", sans-serif;
}

span {
  color: orange;
  font-family: "Nunito Sans", sans-serif;
}

.pnoir {
  color: black;
  font-family: "Nunito-sans", sans-serif;
}

.tailletexte1 {
  color: white;
  font-size: 150%;
}

.tailletexte2 {
  color: black;
  font-size: 250%;
}

.LetsSky {
  color: white;
  font-size: 335%;
}

#FondGris {
  position: -ms-page;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Shopify {
  background-image: url(images/Vector4.png);
  background-repeat: round;
}

.ShopifyIn {
  display: flex;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.ordi {
  height: auto;
  width: 800px;
  padding-right: 180px;
  padding-left: 100px;
}

#VagueGrise {
  height: 140px;
  padding-left: 380px;
  padding-bottom: 27px;
}

.Expert {
  color: orange;
}

.boutonreadmore {
  display: flex;
}

.Titrereadmore {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
  color: white;
  background-color: orange;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.TitrereadmoreInvisible {
  color: white;
}

.Packages {
  margin-left: 120px;
  margin-right: 120px;
}

.Blocexpert {
  width: 600px;
  font-family: "Nunito Sans", sans-serif;
}

.thereare {
  color: grey;
  width: 370px;
}

.Packages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prixgroup {
  display: flex;
}

.Container {
  display: flex;
}

.Container1 {
  border-radius: 25px;
  background-color: rgb(253, 245, 229);
  margin: 20px;
  width: 350px;
  box-shadow: 15px 15px 50px -20px black;
}

.Container2 {
  border-radius: 25px;
  background-color: rgb(13, 35, 131);
  width: 350px;
  box-shadow: 15px 15px 50px -20px black;
}

.Container3 {
  border-radius: 25px;
  background-color: rgb(253, 245, 229);
  margin: 20px;
  width: 350px;
  box-shadow: 15px 15px 50px -20px black;
}

.topblocbannergroup {
  display: flex;
}

.topblocbannerinvisible {
  padding-left: 50px;
}

.topblocbanner13 {
  border-radius: 0px 0px 50px 50px;
  width: 250px;
  height: 10px;
  background-color: rgb(13, 35, 131);
}

.topblocbannergroup2 {
  display: flex;
}

.topblocbannerinvisible2 {
  padding-left: 50px;
}

.topblocbanner2 {
  border-radius: 0px 0px 50px 50px;
  width: 250px;
  height: 10px;
  background-color: orange;
}

.padmodif1 {
  padding-bottom: 50px;
  font-size: 250%;
}

.BoutonBuyNowblanc {
  display: flex;
}

.BoutonBuyNowpad1 {
  display: flex;
  padding-top: 285px;
  padding-bottom: 15px;
  font-family: "Rubik", sans-serif;
}
.BoutonBuyNowpad2 {
  display: flex;
  padding-top: 107px;
  padding-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

.BoutonBuyNowpad3 {
  display: flex;
  padding-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

.TitreBuyNow {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: orange;
  color: orange;
}

.TitreBuyNoworange {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 50px;
  background-color: orange;
  color: white;
}

.TitreBuyNowInvisible {
  color: rgb(253, 245, 229);
}

.TitreBuyNowInvisiblebleu {
  color: rgb(13, 35, 131);
}

.Hautbecause {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container46 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
}

.Container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  padding-left: 130px;
  padding-right: 130px;
}

.Milieubecause {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.HautNews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.ContainerEmail {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.BlocBlanc {
  width: 500px;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

.BlocOrange {
  width: 200px;
  background-color: orange;
  border-radius: 0px 10px 10px 0px;
}

.Subscribe {
  font-size: 250%;
}

footer {
  background-image: url(images/spacestar.png);
}

.infooter {
  padding-top: 30px;
  padding-left: 350px;
  padding-right: 350px;
  padding-bottom: 50px;
  display: flex;
}

.pblancfin {
  color: rgb(197, 197, 197);
  width: 350px;
  font-family: "Rubik", sans-serif;
  font-size: 90%;
}

.pblancfin2 {
  color: rgb(197, 197, 197);
  font-family: "5Rubik", sans-serif;
}

.ContainerFooter234 {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.traitorange {
  display: flex;
}

.trait1 {
  display: inline-block;
  width: 12px;
  height: 2px;
  background-color: orange;
}

.traitvide {
  display: inline-block;
  width: 8px;
  height: 2px;
  background-color: rgb(15, 8, 50);
}

.trait2 {
  display: inline-block;
  width: 22px;
  height: 2px;
  background-color: orange;
}

.boutonRéseaux {
  padding-top: 10px;
}

.insta {
  padding-top: 10px;
  padding-left: 20px;
}

.fb {
  padding-top: 10px;
  padding-left: 20px;
}

.Copyright {
  color: grey;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
