body {
  background-color: white;
  margin: auto;
}

header {
  background-color: rgb(15, 8, 50);
}

.arriereplan {
  background-color: rgb(15, 8, 50);
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
}

.Titre {
  color: white;
  font-size: 300%;
}

h1 {
  font-size: 250%;
}

nav {
  margin: auto;
}

nav .main_pages {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
}

nav .main_pages a {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200%;
  height: 100%;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background: #5a5766;
}

.Sayhi {
  color: orange;
  padding-top: 25px;
}

#FondGris {
  position: -ms-page;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#VagueGrise {
  position: -ms-page;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boutongetstarted {
  display: flex;
}

.TitreGetStarted {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 50px;
  color: white;
  background-color: orange;
}

.TitreGetStartedInvisible {
  color: rgb(15, 8, 50);
}

.GetStarted {
  background-color: rgb(15, 8, 50);
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
}

.lorem6 {
  display: flex;
}

.bloc1 {
  padding-right: 60px;
}
.duo {
  color: white;
  display: flex;
}

.vuOrange {
  width: 15px;
  height: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.Packages {
  background-color: white;
}

.pBlanc {
  color: white;
}

.psouligne {
  text-decoration: underline;
}

.pgris {
  color: grey;
}

.textjoli1 {
  color: blue;
}

.textjoli2 {
  color: orange;
}

.puissancedollar1 {
  color: black;
}

.puissancedollar2 {
  color: orange;
}

.Prix1 {
  color: black;
}

.Prix2 {
  color: orange;
}

.pOrange {
  color: orange;
}

span {
  color: orange;
}

.pnoir {
  color: black;
}

.tailletexte1 {
  color: white;
  font-size: 145%;
}

.LetsSky {
  color: white;
  font-size: 320%;
}

.Shopify {
  background-color: white;
}

.Expert {
  color: orange;
}

.boutonreadmore {
  display: flex;
}

.Titrereadmore {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 50px;
  color: white;
  background-color: orange;
}

.TitrereadmoreInvisible {
  color: white;
}
